<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>

<body>

	<section>
		
		<h2>Used SpringBoot as Backend Technology</h2>
		
		<p>Spring Boot provides a good platform for Java developers to develop a stand-alone and production-grade spring application that you can just run. You can get started with minimum configurations without the need for an entire Spring configuration setup.</p>
		
		<p>Spring Boot offers the following advantages to its developers −</p>		
		
		<ul>
		  <li>Easy to understand and develop spring applications</li>
		  <li>Increases productivity</li>
		  <li>Reduces the development time</li>
		</ul>
		
		<h2>Used Thymeleaf to create frontend</h2>
		
		<p>Thymeleaf is a Java template engine for processing and creating HTML, XML, JavaScript, CSS and text.

In this tutorial, we will discuss how to use Thymeleaf with Spring along with some basic use cases in the view layer of a Spring MVC application.

The library is extremely extensible, and its natural templating capability ensures we can prototype templates without a back end. This makes development very fast when compared with other popular template engines such as JSP.</p>
		
		<h2>Used MySql as the Database</h2>
		
		<p>MySQL is a fast, easy-to-use RDBMS being used for many small and big businesses. MySQL is developed, marketed and supported by MySQL AB, which is a Swedish company. </p>
		
	</section>
</body>

</html>