<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is home page</title>
</head>
<body>
	
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Contact Management System</h1>
			<p class="mt-3">
				This platform helps you to collect the contacts in a very smarter way. 
				You can easily perform actions on the contact like to add, delete, edit etc.
			</p>
			<p>
				You may also manage your profile and accordingly see the details of the your particular contact.
				
			</p>
			<a th:href="@{/user/add-contact}" class="btn bg-primary btn-lg text-white">Get Started</a>
		</div>
	</section>
</body>
</html>